<li data-transition="zoomout"
    data-slotamount="default"
    data-easein="Power4.easeInOut"
    data-easeout="Power4.easeInOut"
    data-masterspeed={2000}
    data-fstransition="fade"
    data-fsmasterspeed={1500}>
  {/* MAIN IMAGE */}
  <img src="images/bg2_1920x965.jpg" alt />
  <div className="tp-caption text1 align_left fadeout"
       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
       data-start={500}
       data-x="left"
       data-y="top">
    <h5>- Only the Best for You -</h5>
    <h2>Constuction Services</h2>
    <a href="services_v1.html" className="mad_button">Read More</a>
  </div>
</li>
<li data-transition="zoomout"
    data-slotamount="default"
    data-easein="Power4.easeInOut"
    data-easeout="Power4.easeInOut"
    data-masterspeed={2000}
    data-fstransition="fade"
    data-fsmasterspeed={1500}>
  {/* MAIN IMAGE */}
  <img src="images/bg3_1920x965.jpg" alt />
  <div className="tp-caption text1 align_center fadeout"
       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
       data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
       data-start={500} data-x="center"
       data-y="top">
    <h5>- WELCOME -</h5>
    <h2>*</h2>
    <a href="appointment_page.html" className="mad_button">Make an Appointment</a>
  </div>
</li>
