[class*="paralax_image_bg"] > .container{
  z-index: 4;
  position: relative;
}

[class*="paralax_image_bg"]{
  background-size: cover!important;
  background-attachment: fixed!important;
  position: relative;
  width: 100%;
  background-repeat: no-repeat!important;
  background-position: center!important;
}

.paralax_image_bg8 {
  background: linear-gradient(1161deg, rgba(255,255,255, 0.98), rgba(239,187,32,0.7)),url(../../../public/images/uslugi/ehlectromontazh/ehlectromontazh_bg.jpg);
  /*background: -o-linear-gradient(1161deg, rgba(255,255,255, 0.98), rgba(239,187,32,0.7)),url(../images/uslugi/ehlectromontazh/ehlectromontazh_bg.jpg);
  background: -moz-linear-gradient(1161deg, rgba(255,255,255, 0.98), rgba(239,187,32,0.7)),url(../images/uslugi/ehlectromontazh/ehlectromontazh_bg.jpg);
  background: -webkit-linear-gradient(1161deg, rgba(255,255,255, 0.98), rgba(239,187,32,0.7)),url(../images/uslugi/ehlectromontazh/ehlectromontazh_bg.jpg);*/
}
